.ui-btn
{
    display: inline-block;
    position: fixed;
}

.ui-btn
{
    padding: 15px 25px;
    border-radius: 5px;
    transition: .1s;
    cursor: pointer;

    &:hover
    {
        filter: brightness(50%);
    }

    &:active
    {
        transform: translateY(3px);
    }
}