.ui-panel
{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}




.ui-btn,
.ui-text,
.ui-image
{
    display: inline-block;
    position: fixed;
}

/* UI BUTTON */
.ui-btn
{
    padding: 15px 25px;
    border-radius: 5px;
    transition: .1s;
    cursor: pointer;
}

.ui-btn:hover
{
    filter: brightness(50%);
}
.ui-btn:active
{
    transform: translateY(3px);
}