.ui-text
{
    display: inline-block;
    position: fixed;
}

.ui-text.upper { text-transform: uppercase; }
.ui-text.title
{
    font-size: 2rem;
    font-family: arial, serif;
    font-weight: 900;
    text-shadow: 0 5px #222, 0 0 3px #222;
}
.ui-text.warning
{
    color: #FFF78C;
}